<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">VA1913wm</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/epi</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.hbm2ddl.auto">update</property>

		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.use_sql_comments">true</property>

		<property name="current_session_context_class">thread</property>
		<property name="hibernate.c3p0.validate">true</property>
		<property name="hibernate.generate_statistics">true</property>

		<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>

		<!--         Use the C3P0 connection pool provider -->
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">10</property>
		<property name="hibernate.c3p0.timeout">120</property>
		<property name="hibernate.c3p0.acquireRetryAttempts">3</property>
		<property name="hibernate.c3p0.max_statements">50</property>
 
 		<mapping class="org.ird.unfepi.model.Address" />
		<mapping class="org.ird.unfepi.model.Arm" />
		<!-- <mapping class="org.ird.unfepi.model.ArmIdMap" /> -->
		<mapping class="org.ird.unfepi.model.ArmDayReminder" />
 		<mapping class="org.ird.unfepi.model.CalendarDay" />
 		<mapping class="org.ird.unfepi.model.Child" />
 		<mapping class="org.ird.unfepi.model.ChildResponse" />
 		<mapping class="org.ird.unfepi.model.ContactNumber" />
		<mapping class="org.ird.unfepi.model.CsvUpload" />
		<mapping class="org.ird.unfepi.model.Encounter" />
		<mapping class="org.ird.unfepi.model.EncounterResults" />
		<mapping class="org.ird.unfepi.model.Ethnicity" />
		<mapping class="org.ird.unfepi.model.FinancialTransaction" />
		<mapping class="org.ird.unfepi.model.OtherResponse" />
		<mapping class="org.ird.unfepi.model.Permission" />
		<mapping class="org.ird.unfepi.model.Person" />
		<mapping class="org.ird.unfepi.model.Relationship" />
		<mapping class="org.ird.unfepi.model.Religion" />
		<mapping class="org.ird.unfepi.model.Reminder" />
		<mapping class="org.ird.unfepi.model.ReminderSms" />
		<mapping class="org.ird.unfepi.model.Role" />
		<mapping class="org.ird.unfepi.model.Screening" />
		<mapping class="org.ird.unfepi.model.Setting" />
		<mapping class="org.ird.unfepi.model.Storekeeper" />
		<mapping class="org.ird.unfepi.model.StorekeeperResponse" />
		<mapping class="org.ird.unfepi.model.User" />
		<mapping class="org.ird.unfepi.model.Vaccination" />
		<mapping class="org.ird.unfepi.model.VaccinationCenter" />
		<mapping class="org.ird.unfepi.model.VaccinationCenterVaccineDay" />
		<mapping class="org.ird.unfepi.model.Vaccinator" />
		<mapping class="org.ird.unfepi.model.VaccinatorResponse" />
		<mapping class="org.ird.unfepi.model.Vaccine" />
		<mapping class="org.ird.unfepi.model.VerificationCode" />
		
    </session-factory>
</hibernate-configuration>
