<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
	<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<!-- <property name="hibernate.connection.password">epiLinux</property>
		<property name="hibernate.connection.url">jdbc:mysql://125.209.94.150:10080/unfepi</property> -->
 		
   		<!-- <property name="hibernate.connection.username">epiuser</property> -->
 		
 		<property name="hibernate.connection.password">admin</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/unfepi</property> 
 		<property name="hibernate.connection.username">root</property>
 		
	<!-- 	<property name="hibernate.hbm2ddl.auto">update</property>  -->
		<!-- <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property> -->
<property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<property name="hibernate.show_sql">true</property>
		<!-- <property name="hibernate.format_sql">true</property>
		<property name="hibernate.use_sql_comments">true</property> -->

<property name="hibernate.connection.useUnicode">true</property>
<property name="hibernate.connection.characterEncoding">UTF-8</property>
<property name="hibernate.connection.charSet">UTF-8</property> 

		<!-- <property name="current_session_context_class">thread</property> -->
		<property name="hibernate.c3p0.validate">true</property>
		<property name="hibernate.generate_statistics">true</property>

		<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>

		<!--         Use the C3P0 connection pool provider -->
		<property name="hibernate.c3p0.min_size">1</property>
		<property name="hibernate.c3p0.max_size">30</property>
		<property name="hibernate.c3p0.timeout">120</property>
		<property name="hibernate.c3p0.acquireRetryAttempts">3</property>
		<property name="hibernate.c3p0.max_statements">50</property>
 
 	 	<mapping class="org.ird.unfepi.model.Address" />
 		<mapping class="org.ird.unfepi.model.CalendarDay" />
 		<mapping class="org.ird.unfepi.model.Child" />
 		<mapping class="org.ird.unfepi.model.ChildIncentive" />
		<mapping class="org.ird.unfepi.model.CommunicationNote" />
		<mapping class="org.ird.unfepi.model.ContactNumber" />
		<mapping class="org.ird.unfepi.model.DailySummary" />
		<mapping class="org.ird.unfepi.model.DailySummaryVaccineGiven" />
		<mapping class="org.ird.unfepi.model.DownloadableReport" />
		<mapping class="org.ird.unfepi.model.Encounter" />
		<mapping class="org.ird.unfepi.model.EncounterResults" />
		<mapping class="org.ird.unfepi.model.IdMapper" />
		<mapping class="org.ird.unfepi.model.Identifier" />
		<mapping class="org.ird.unfepi.model.IdentifierType" />
		<mapping class="org.ird.unfepi.model.LotterySms" />
		<mapping class="org.ird.unfepi.model.Location" />
		<mapping class="org.ird.unfepi.model.LocationType" />
		<mapping class="org.ird.unfepi.model.Notifier" />
		<mapping class="org.ird.unfepi.model.Permission" />
		<mapping class="org.ird.unfepi.model.Reminder" />
		<mapping class="org.ird.unfepi.model.ReminderSms" />
		<mapping class="org.ird.unfepi.model.Role" />
		<mapping class="org.ird.unfepi.model.Response" />
		<mapping class="org.ird.unfepi.model.Setting" />
		<mapping class="org.ird.unfepi.model.Storekeeper" />
		<mapping class="org.ird.unfepi.model.StorekeeperIncentiveEvent" />
		<mapping class="org.ird.unfepi.model.StorekeeperIncentiveParticipant" />
		<mapping class="org.ird.unfepi.model.StorekeeperIncentiveTransaction" />
		<mapping class="org.ird.unfepi.model.StorekeeperIncentiveWorkProgress" />
		<mapping class="org.ird.unfepi.model.User" />
		<mapping class="org.ird.unfepi.model.UserSms" />
		<mapping class="org.ird.unfepi.model.Vaccination" />
		<mapping class="org.ird.unfepi.model.VaccinationCenter" />
		<mapping class="org.ird.unfepi.model.VaccinationCenterVaccineDay" />
		<mapping class="org.ird.unfepi.model.Vaccinator" />
		<mapping class="org.ird.unfepi.model.VaccinatorIncentiveEvent" />
		<mapping class="org.ird.unfepi.model.VaccinatorIncentiveParticipant" />
		<mapping class="org.ird.unfepi.model.VaccinatorIncentiveTransaction" />
		<mapping class="org.ird.unfepi.model.VaccinatorIncentiveWorkProgress" />
		<mapping class="org.ird.unfepi.model.Vaccine" />
		<mapping class="org.ird.unfepi.model.VaccineGap" />
		<mapping class="org.ird.unfepi.model.VaccineGapType" />
		<mapping class="org.ird.unfepi.model.VaccinePrerequisite" />
		<mapping class="org.ird.unfepi.model.VariableSetting" />
		
		<!-- Daniyal's Addition -->
		<mapping class="org.ird.unfepi.model.Arm"/>
		<mapping class="org.ird.unfepi.model.IncentiveParams"/>
		<mapping class="org.ird.unfepi.model.VaccinatorIncentive"/>
		
		<!-- Safwan's Addition -->
		<mapping class="org.ird.unfepi.model.Women"/>
		<mapping class="org.ird.unfepi.model.WomenVaccination"/>
		
    </session-factory>
</hibernate-configuration>

