<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ird.android.epi"
    android:versionCode="29"
    android:versionName="1.1.4-alpha.3" >
    
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:uiOptions="splitActionBarWhenNarrow" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".EnrollmentActivity"
            android:label="@string/title_activity_enrollment"
            android:screenOrientation="portrait" >
        </activity>

        <!-- Test Activity -->
        <activity
            android:name=".DateTimePickerActivity"
            android:label="@string/title_activity_date_time_picker"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CalculateAgeAcitivity"
            android:label="@string/title_activity_calculate_age_acitivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >
        </activity>
        <activity
            android:name=".FollowUpActivity"
            android:label="@string/title_activity_follow_up"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EpiPreferences"
            android:label="@string/title_activity_preferences"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".NfcWriterActivity"
            android:label="@string/title_activity_nfc_writer"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >
        </activity>
        <activity
            android:name=".AddressActivity"
            android:label="@string/title_activity_address"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >
        </activity>
        <activity
            android:name=".FragmentTestActivity"
            android:label="@string/title_activity_fragment_test"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".VaccinationOverviewActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_vaccination_overview"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".VaccineScheduleDetailActitivty"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_vaccine_schedule_details"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >
        </activity>
        <activity
            android:name=".ImmunizaionRegistryActivity"
            android:label="@string/title_activity_immunizaion_registry"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AboutAtivity"
            android:label="@string/title_activity_about_ativity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".BiodataActivity"
            android:label="@string/title_activity_biodata"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >
        </activity>
        <activity
            android:name=".ProgramActivity"
            android:label="@string/title_activity_program"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >
        </activity>
        <activity
            android:name=".IdChangeActivity"
            android:label="@string/title_activity_id_change"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".VaccinationDetails"
            android:label="@string/title_activity_vaccination_details"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >
        </activity>
        <activity
            android:name=".StaticScheduleActivity"
            android:label="@string/ActivitySchedule"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>